.content_box {
  position: absolute;
  left: 2%;
  top: 27%;
  color: white;
}

.title {
  width: 600px;
  font-size: 70px;
}

.btn {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.btn_box {
  font-size: 22px;
  height: 25px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  padding: 10px 50px;
  border-radius: 5px;
  margin-top: 10px;
}

.description {
  margin-top: 25px;
  width: 500px;
}
